<h2>在庫切れ商品一覧</h2>

<div style="padding:10px;">
<% form_remote_tag :url => {:action => 'search'}, :update => 'result', :html=>{:class => 'form'} do -%>
<div class="group">
  <label class="label">在庫切れ商品を表示したい月を選択して、表示ボタンをクリックしてください。
</label>
  <%= select_date(Date.today, :discard_day => true, :use_month_numbers => true, :start_year => Date::new(1996).year) %>
  <%= submit_tag '表示'%>
</div>
<% end -%>
</div>

<div id="result">
</div>