<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
以下の仕入先にメールを送信しました。<br>
<ul>
<% @suppliers.each do |supplier| %>
  <li><%= supplier.supplier_name %>様</li>
<% end %>
</ul>