<h2>在庫遷移</h2>

<div style="padding:10px;">
<% form_remote_tag :url => {:action => 'search'}, :update => 'result', :html => {:class => 'form'} do -%>
<div class="group">
  <label class="label">商品</label>
  <%= select(:post, :product_id, @products.map{|p| [p.product_name, p.id]}) %>
</div>

<div class="group">
  <label class="label">期間</label>
<%= calendar_date_select_tag "date[start_date]", Time.now, :year_range => 20, :popup => :force  %>〜<%= calendar_date_select_tag "date[end_date]", Time.now, :year_range => 20, :popup => :force %>
</div>
<div class="group navform wat-cf">
  <%= submit_tag '表示'%>
</div>
<% end %>
</div>

<div id="result"></div>
