<h1>在庫遷移</h1>

<% form_remote_tag :url => {:action => 'search'}, :update => 'result', :id => 'form1' do -%>
<table>
<tr>
<td>商品：</td>
<td><%= select(:post, :product_id, @products.map{|p| [p.product_name, p.id]}) %></td>
</tr>
<td>期間：</td>
<td><%= select_date(Date.today, :use_month_numbers => true, :start_year => Date::new(1996).year, :prefix => 'start_date') %>～<%= select_date(Date.today, :use_month_numbers => true, :start_year => Date::new(1996).year, :prefix => 'end_date') %></td>
</tr>
</table>
<%= submit_tag "表示" %>
<% end %>

<div id="result"></div>